<div class="container my-4">
  <!-- Título para los pagos -->
  <h2 class="mb-4">Lista de Pagos</h2>

  <!-- Tabla para listar los pagos -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Método de Pago</th>
        <th>Monto</th>
        <th>Fecha</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ejemplo de una fila de pagos, aquí debes iterar con los datos -->
      <tr *ngFor="let pago of pagosys.pagoFacturas">
        <td>{{ pago.id }}</td>
        <td>{{ pago.descripcion }}</td>
        <td>{{ pago.metodo_pago }}</td>
        <td>{{ pago.monto | currency }}</td>
        <td>{{ pago.fecha | date:'dd/MM/yyyy' }}</td>
      </tr>
    </tbody>
  </table>

  <!-- Separador entre tablas -->
  <hr class="my-5">

  <!-- Título para las suscripciones -->
  <h2 class="mb-4">Lista de Suscripciones</h2>

  <!-- Tabla para listar las suscripciones -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Membresía</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <!-- Ejemplo de una fila de suscripciones, aquí debes iterar con los datos -->
      <tr *ngFor="let suscripcion of pagosys.suscripcionList">
        <td>{{ suscripcion.id }}</td>
        <td>{{ suscripcion.membresia.nombre }}</td>
        <td>{{ suscripcion.fechaInicio | date:'dd/MM/yyyy' }}</td>
        <td>{{ suscripcion.fechaFin | date:'dd/MM/yyyy' }}</td>
        <td>
          <span [ngClass]="{'badge bg-success': suscripcion.estado === 'activa', 'badge bg-danger': suscripcion.estado === 'inactiva'}">
            {{ suscripcion.estado }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="card shadow-sm" style="width: 100%; max-width: 500px; margin: 0 auto;">
  <div
  class="user-panel mt-3 pb-2 d-flex"
  style="justify-content: start; align-items: center"
>
  <pf-image
      [src]="user?.photoURL"
      fallbackSrc="assets/img/default-profile.png"
      style="margin-left: 12px"
      alt="User Image"
      width="34"
      height="34"
      rounded="true"
  />
  <div class="info">
      <a [routerLink]="['/profile']" class="d-block">
          {{ user.email }}
      </a>
  </div>
</div>

<div class="card-header bg-primary text-white">
    <h4 class="mb-0">Actualizar Imagen de Perfil</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="imageForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <div class="form-group">
        <label for="image">Subir nueva imagen</label>
        <input
          type="file"
          id="image"
          formControlName="image"
          class="form-control-file"
          (change)="onFileChange($event)"
          accept="image/*">

        <div *ngIf="imageForm.get('image')?.invalid && imageForm.get('image')?.touched" class="text-danger mt-2">
          Por favor selecciona una imagen válida.
        </div>
      </div>

      <button type="submit" class="btn btn-success mt-3 w-100" [disabled]="imageForm.invalid">
        Actualizar Imagen
      </button>
    </form>
  </div>
</div>

