<!-- dashboard.component.html -->
<div>
    <app-content-header [title]="'Dashboard'"></app-content-header>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6">
              <app-small-box
                [title]="'Total Sales'"
                [text]="dashboardData?.total_ventas.toString() || '0'"
                [navigateTo]="'#'"
                [variant]="'info'"
                [icon]="{content: faCartShopping}"
              ></app-small-box>
            </div>
            <div class="col-lg-3 col-6">
              <app-small-box
                [title]="'Active Subscriptions'"
                [text]="dashboardData?.total_suscripciones_activas.toString() || '0'"
                [navigateTo]="'#'"
                [variant]="'success'"
                [icon]="{content: faChartSimple}"
              ></app-small-box>
            </div>
            <div class="col-lg-3 col-6">
              <app-small-box
                [title]="'Total Clients'"
                [text]="dashboardData?.total_clientes.toString() || '0'"
                [navigateTo]="'#'"
                [variant]="'warning'"
                [icon]="{content: faUserPlus}"
              ></app-small-box>
            </div>
            <div class="col-lg-3 col-6">
              <app-small-box
                [title]="'Total Memberships'"
                [text]="dashboardData?.total_membresias.toString() || '0'"
                [navigateTo]="'#'"
                [variant]="'danger'"
                [icon]="{content: faChartPie, variant: 'success'}"
              ></app-small-box>
            </div>
          </div>



        </div>
    </section>
</div>
