<!-- dashboard.component.html -->
<div>
    <app-content-header [title]="'Dashboard'"></app-content-header>

    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-3 col-6" (click)="redirectTo('/pagos')">

              <app-small-box
                [title]="'Total Pagos Registrados'"
                [text]="dashboardData?.total_ventas.toString() || '0'"
                [variant]="'info'"
                [icon]="{content: faCartShopping}"
              ></app-small-box>
            </div>
            <div class="col-lg-3 col-6" (click)="redirectTo('/suscripcion')" >
              <app-small-box
                [title]="'Suscripciones activas'"
                [text]="dashboardData?.total_suscripciones_activas.toString() || '0'"
                [variant]="'success'"
                [icon]="{content: faChartSimple}"
              ></app-small-box>
            </div>
            <div class="col-lg-3 col-6" (click)="redirectTo('/clientes')" >
              <app-small-box
                [title]="'Total Clientes'"
                [text]="dashboardData?.total_clientes.toString() || '0'"
                [variant]="'warning'"
                [icon]="{content: faUserPlus}"
              ></app-small-box>
            </div>
            <div class="col-lg-3 col-6" (click)="redirectTo('/membresias')"   >
              <app-small-box
                [title]="'Total Membresias'"
                [text]="dashboardData?.total_membresias.toString() || '0'"
                [variant]="'danger'"
                [icon]="{content: faChartPie, variant: 'success'}"
              ></app-small-box>
            </div>
          </div>



        </div>
    </section>


    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <!-- Aquí van tus small-boxes -->
              <div class="col-lg-12">
                  <h3>Estadísticas de Membresías</h3>
                  <div>
                    <ngx-charts-pie-chart
                      [view]="[700, 400]"
                      [results]="pieChartData"
                      [legend]="true"
                      [doughnut]="false">
                    </ngx-charts-pie-chart>
                  </div>

              </div>
          </div>
      </div>
  </section>
</div>
